@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.hero-buttons {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  max-width: 1340px;
}

@media (max-width: 1324) {
  .container {
    padding-left: 10px;
  }
}

.gradient-text {
  background: -webkit-linear-gradient(left, #000000, #e7e7e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-white-text {
  background: -webkit-linear-gradient(left, #ffffff, #685e5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* banner */
.banner-bg {
  background-repeat: no-repeat;
  background-size: cover;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
